
{% extends 'base.html' %}
{% block content %}
        <!-- Afficher une table -->
        <table class="table" id="example">
        
        <!-- Entête de du tableau -->
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Localite</th>
                    <th scope="col">Date de publication</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Réference</th>
                    <th scope="col">Responsable</th>
                    
                </tr>
            </thead>

            <!-- Corps du tableau -->
            <tbody>
                <!-- Faire du python à l'intérieur du html -->
                {% for doc in database %}
                    <tr>
                        
                        <th scope="row">{{ doc['_source']['Name'] }}</th>
                        <td>{{ doc['_source']['Localite'] }}</td>
                        <td>{{ doc['_source']['Jours_de_Post'] }}</td>
                        <td>{{ doc['_source']['Prix_En_FCFA'] }}</td>
                        <td>{{ doc['_source']['Reference'] }}</td>
                        <td>{{ doc['_source']['Responsable'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% endblock %}  