
{% extends 'base.html' %}
{% block content %}
        <!-- Afficher une table -->
        <table class="table" id="example">
        
        <!-- Entête de du tableau -->
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Contact</th>
                    <th scope="col">Location</th>
                    <th scope="col">Type d'offre</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Terrain</th>
                    
                </tr>
            </thead>

            <!-- Corps du tableau -->
            <tbody>
                <!-- Faire du python à l'intérieur du html -->
                {% for doc in database %}
                    <tr>
                        
                        <td>{{ doc['_source']['contact'] }}</td>
                        <td>{{ doc['_source']['location'] }}</td>
                        <td>{{ doc['_source']['offer_type'] }}</td>
                        <td>{{ doc['_source']['price'] }}</td>
                        <td>{{ doc['_source']['terrain_title'] }}</td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endblock %}